<div>
  {{#each products}}
    <p>title: {{this.title}}</p>
    <p>description: {{this.description}}</p>
    <p>price: {{this.price}}</p>
    <p>stock: {{this.stock}}</p>
    <p>category: {{this.category}}</p>
    <br />
    <button>Agregar al carrrito</button>
  {{/each}}
  {{#if hasPrevPage}}
    <a
      href="/api/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&qry={{qry}}"
    ><button>Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <a
      href="/api/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&qry={{qry}}"
    ><button>Siguiente</button></a>
  {{/if}}
</div>